header
  nav.navbar.navbar-expand-md.navbar-light.bg-light
    a.navbar-brand( href="/")
      img(src=" " , width=auto, height=48 alt='logo loading...')     
    button.navbar-toggler(type="button" , data-toggle="collapse" , data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto   
        li.nav-item 
          a.nav-link(href="/accounting") Accounting
        li.nav-item 
          a.nav-link(href="/tax") Tax Advisory       
        li.nav-item 
          a.nav-link(href="/incorporation") Incorporation
        li.nav-item 
          a.nav-link(href="/knowledge") Knowledge
        li.nav-item 
          a.nav-link(href="/login") Login
        

